pkgbase = loonggl-bin
	pkgdesc = OpenGL runtime components for LoongGPU
	pkgver = 1.0.2_lnd25.1.rc1.7
	pkgrel = 2
	url = https://pkg.loongnix.cn/
	install = loonggl.install
	arch = loong64
	license = LicenseRef-Proprietary
	depends = elfutils
	depends = expat
	depends = gcc-libs
	depends = glibc
	depends = libdrm
	depends = libldrm
	depends = libloong-gpucomp
	depends = lm_sensors
	depends = libx11
	depends = zlib
	depends = libglvnd
	provides = loonggl
	conflicts = loonggl
	options = !strip
	source = loonggl_1.0.2-lnd25.1~rc1.7_loong64.deb::https://pkg.loongnix.cn/loongnix/25/pool/non-free/l/loonggpu-graphics-drivers/loonggl_1.0.2-lnd25.1~rc1.7_loong64.deb
	source = loonggl-hack
	source = loonggl-hack.service
	source = 40-loonggl-hack.preset
	sha256sums = 7ad0eba229921643d11dcf58f43ce3ff164f032aa2ba7d61dcf642c9cdc1d221
	sha256sums = d4196284eddcceec132c9aca763785fe054252785012a575590ee8c5996ee9c3
	sha256sums = df07e32e38a7b82140dae103b33fd1c90a04bd1ceee758240ebbf58460d84726
	sha256sums = bfe173cb7718584f0aa9262d90441ec69c2302ae8f78263e6f77b4b6fa3217f4

pkgname = loonggl-bin
